/*=====
GENERAL
=====*/

*{
    margin:0;
    padding:0;
}

body {
    background-color: #101010;
}

/*===
TITLE
===*/

.mainHeader {
    text-align: center;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainHeader h1 {
    font-size: 50px;
    color: deepskyblue;
}

.mainHeader h2 {
    font-size: 30px;
    color: deepskyblue;
}

/*=========
HOME BUTTON
=========*/

.navBar .tab {
    background-color: deepskyblue;
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 40px 33.85% 40px 33.85%;
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    width: 32.3%;
    text-decoration: none;
    outline: none;
    list-style: none;
}

/*======
DATABASE
======*/

.database {
    color: #CCCCCC;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-top: 20px;
}

.databse td, .database th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.database tr:nth-child(even) {
    background-color: #1a1a1a;
}

.database tr:nth-child(odd) {
    background-color: #262626;
}

.database tr:nth-child(1) {
    background-color: teal;
}